tr, td {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    padding: 5px;
  }
  

input {
    font-size: 20px;
    border-radius: 20px;
  }
  

  button {
    font-size: 30px;
    margin: 20px;
    border-radius: 20px;
  }
  

  .table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  button.active {
    background-color: black;
    color: #fff;
    border: 1px solid white;
    transition: 0.3s;
  }
  

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .search {
    display: flex;
    justify-content: space-around;
  }
  

  th {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s;
  }
